<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Offres StifCo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <div class="page-header">
        <h1>Offres <small> Mission4</small></h1>
    </div>
    
    
    <!-- -->
    <div>
    
        <%
            if(typeof offres === 'undefined'){
<<<<<<< HEAD
                %>Il n'y a pas d'offres disponibles actuellement. Réessayez plus tards.<%
=======
                %>Il n'y a pas d'offres disponiblent actuellement. Réesseyez plus tards.<%
>>>>>>> origin/master
            }
            else{
                offres.forEach(function(offre){%>
                    id: <%= offre.id %>
                    id_user: <%= offre.id_user %>
                    heure_dep: <%= offre.heure_dep %>
                    heure_ret: <%= offre.heure_ret %>
                    id_gare: <%= offre.id_gare %>
                    id_centre_ville: <%= offre.id_centre_ville %>
                    id_semaine: <%= offre.id_semaine %><%

                });
            }       
        %>
    
    </div>
    <!-- -->


</div>

<script src="/socket.io/socket.io.js"></script>
<script>
	socket = io.connect('http://localhost:8080');
	

</script>



</body>
</html>
